/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    padding: 10px 0;
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.navbar-logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
}

.navbar-menu li {
    display: inline;
    margin-left: 20px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar-menu li a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
.main-content {
    padding: 50px 20px;
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-button:hover {
    background-color: #005f73;
}

.file-content {
    color: #000000;
    font-family: helvetica;
}